@using System.Xml.Linq
@using Wirecard.DeveloperPortal.Core
@using Newtonsoft.Json
@model Wirecard.DeveloperPortal.Core.Response.ServicesXmlResponse


<h2> Abonelik Ücret Değiştirme</h2>
<hr />
<form action="" method="post">

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-12 control-label" for="">Abonelik Numarası:</label>
        <div class="col-md-6">
            <input name="subscriberId" type="text" value="" class="form-control" required="">
        </div>
        <label class="col-md-12 control-label" for="">Abonelik Ücreti:</label>
        <div class="col-md-6">
            <input name="price" type="text" value="" class="form-control" required="">
        </div>
        <label class="col-md-12 control-label" for=""></label>
        <div class="col-md-4">
            <br />
            <button type="submit" id="" name="" class="btn btn-danger">Abone Ücret Değiştir</button>
        </div>
        <label class="col-md-12 control-label" for=""></label>
        <div class="col-md-6">
            <pre>
            @if (Model!= null)
            {
                @Html.Raw(Html.Encode(Model.XmlResponse))
            }
        </pre>
        </div>
    </div>
</form>